@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
    --base-font: 'Poppins', serif;
    --bg-color: #FFFFFF;
    --font-color: #1A1A1A;
    --second-font-color: #FFFFFF;
    --hover-color: #FF7F50;
    --footer-row-bg: #f2f2f2;
    --footer-shadow: rgba(0, 0, 0, 0.1);
    --divider-color: #d1d1d1;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
    color: var(--font-color);
    background: var(--bg-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 2.5rem; 
}

.container {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
